@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    @* <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <div class="text-center">
        <div style="max-width: 1400px; margin: 0 auto;">
            <img src="~/images/安養院.jpg" style="width: 120%; height:1080px; object-fit: cover;" />
        </div>
    </div>

</div>
