@model prjCareHomeSystem.ViewModels.CLoginViewModel

@{
    ViewData["Title"] = "會員登入";
}

@section Styles {
    <style>
        body {
            background: #83b7eb;
        }
        .login-wrapper {
            border: 1px solid #a0a3f1;
            border-radius: 20px;
            background: rgba(255,255,255,0.5);
        }
    </style>
}
<div class="login-wrapper col-12 col-lg-6 mx-auto p-4">

    <h2 class="mb-4 text-center">會員登入</h2>

    @if (TempData["message"] != null)
    {
        <div class="alert alert-warning">@TempData["message"]</div>
    }

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <form asp-action="Login" method="post">
        <div>
            <div class="mb-3">
                <label asp-for="Account" class="form-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input asp-for="RememberMe" class="form-check-input" />
                <label asp-for="RememberMe" class="form-check-label"></label>
            </div>

            <button type="submit" class="btn btn-primary w-100">登入</button>
        </div>
        <div class="col-9"></div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
